//colors
$white: #fff;
$black_5: rgba(0, 0, 0, .05);
$color_cod_gray_approx: #111;
$color_alto_approx: #dddddd;
$black: #000;
$color_gallery_approx: #ededed;
$blue: #00f;
$color_valencia_approx: #d14343;
$color_dark_tan_approx: #6a0b0b;
$color_well_read_approx: #b53838;
$alabaster: #fafafa;

//fonts
$font_0: Inter;
$font_1: sans-serif;

* {
  //Instead of the line below you could use @include box-sizing($bs)
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.12rem;
  margin-bottom: 20px;
}

h4 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
}

h3 {
  font-size: 1.25rem;
}

img {
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 5px;
}

body {
  color: $color_cod_gray_approx;
  font-family: $font_0, $font_1;
}

li {
  list-style: none;
  display: inline-block;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  margin-top: 4.5rem;
}

nav {
  border-bottom: 1px solid $color_alto_approx;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  padding: 1rem 1.5rem;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-icons {
  list-style: none;

  i {
    font-size: 1rem;
    color: $black;
    background-color: $color_gallery_approx;
    padding: 12px;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 5px;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: color .5s;

    &:focus {
      color: $blue;
    }

    &:hover {
      color: $blue;
    }
  }
}

.nav-link {
  font-size: 1rem;
  font-weight: 400;
  color: $black;
  text-transform: capitalize;

  &:hover {
    color: $color_valencia_approx;
  }
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 700;
  color: $color_dark_tan_approx;
}

@media only screen and(max-width:768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: $white;
    width: 100%;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 10px;
    text-align: center;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: .3s;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 10px 27px $black_5;
  }
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: all .3s ease-in-out;
  background-color: $color_cod_gray_approx;
}

.nav-item2 {
  margin-right: 2rem;
  padding-right: 12px;
  border-right: 1px solid $color_alto_approx;
}

.sec-part {
  margin-right: 2rem;
  padding-right: 12px;
  border-right: 1px solid $color_alto_approx;
  font-size: 1.5rem;
  font-weight: 300;
  color: $black;
}

.last {
  border: none;
}

.fa-cloud {
  color: $color_valencia_approx;
  padding: 8px;
}

@media only screen and(max-width:1100px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: $white;
    width: 100%;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 10px;
    text-align: center;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: .3s;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 10px 27px $black_5;

    &.active {
      left: 0;
    }
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;

    &.active .bar {
      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(1) {
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: translateY(8px) rotate(45deg);
      }

      &:nth-child(3) {
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: translateY(-8px) rotate(-45deg);
      }
    }
  }
}

.main {
  margin-top: 3rem;
  width: 80%;
  margin: 0 auto;

  h2 {
    text-transform: uppercase;
    font-size: 28px;
  }

  p {
    margin: 5px 0;
    text-align: left;
  }
}

.line {
  width: 100%;
  height: .25rem;
  background-color: $color_valencia_approx;
  margin: 10px 0;
}

.img-cont {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  //Instead of the line below you could use @include column-gap($width)
  column-gap: 30px;
}

.image {
  width: 100%;

  img {
    width: 24rem;
    width: 100%;
    max-height: 10.6rem;
    height: 100%;
    object-fit: cover;
    display: block;
    max-width: 24rem;
  }

  h3 {
    text-align: left;
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 17px;
  }
}

.wrapper {
  border: 1px solid $color_alto_approx;

  &.e {
    background-color: $color_valencia_approx;
    color: $white;
  }
}

.a {
  grid-area: a;

  &.wrapper {
    max-height: 100%;
  }
}

.b {
  grid-area: b;
  max-height: 11.25rem;

  &.wrapper {
    max-height: 100%;
  }
}

.c {
  grid-area: c;
  max-height: 11.25rem;

  &.wrapper {
    max-height: 100%;
  }
}

.d {
  grid-area: d;
  max-height: 11.25rem;

  &.wrapper {
    max-height: 100%;
  }
}

.e {
  grid-area: e;
  max-height: 11.25rem;

  &.wrapper {
    max-height: 100%;
  }

  .text-br {
    border: 1px dashed $white;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 3px;
  }
}

.text-br {
  margin: 20px;
}

.inner-content {
  padding: 44px 30px;

  h3 {
    align-content: center;
  }

  p {
    align-content: center;
  }
}

#align-left {
  justify-content: left;
}

.nw {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.heading {
  padding: 3rem;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr;
  gap: 0 20px;
  grid-template-areas: "column1 column2";
  margin-top: 100px;
  width: 80%;
  margin: 0 auto;

  p {
    margin: 5px 0;
    text-align: left;
  }
}

.column2 {
  grid-column-start: 2/-1;
}

.inside-cont {
  position: relative;
}

.heading-images {
  margin-bottom: 3.5rem;
}

.text-block {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: $white;
  color: $black;
  padding: 10px;

  a {
    font-size: 700;
  }
}

.fa-star {
  color: $color_well_read_approx;
  padding-right: 5px;
}

.banner {
  width: 100%;
  max-height: 28rem;
  object-fit: cover;
}

button {
  color: $white;
  background: $black;
  border: none;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 5px;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
}

.text {
  margin: 20px 0 20px 20px;

  p {
    margin-bottom: 20px;
    padding-left: 16px;
  }

  hr {
    width: 70%;
    height: 2px;
    color: $color_alto_approx;
  }

  h3 {
    border-left: 6px solid $color_valencia_approx;
    padding-left: 10px;
  }
}

.learn-more {
  display: flex;
  justify-content: center;

  a {
    font-weight: 700;
  }
}

.sp {
  margin-top: 3rem;
  background: $alabaster;
}

.sport {
  width: 80%;
  margin: 0 auto;
  margin-top: 100px auto 0 auto;

  h2 {
    text-transform: uppercase;
    font-size: 28px;
    padding-top: 80px;
    margin-bottom: 32px;
  }

  p {
    margin: 5px 0;
    text-align: left;
    margin-bottom: 100px;
  }
}

.flex-images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  //Instead of the line below you could use @include column-gap($width)
  column-gap: 30px;
}

.ft {
  margin-top: 0;
  background: $color_well_read_approx;
  color: $white;
}

.ft-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  //Instead of the line below you could use @include column-gap($width)
  column-gap: 30px;
}

.box {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  height: auto;
  z-index: -1;
  fill: $color_valencia_approx;
}

.news {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px 20px;
  grid-template-areas: "column1-news column2-news column3-news""column1-news column2-news column3-news";
  margin-top: 100px;
  margin: 0 auto;
}

.grid-container-n {
  margin-top: 1.44rem;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px 20px;
  grid-template-areas: "b c a""d e a";
}

.grid-container-br {
  margin-top: 1.44rem;
  display: grid;
  grid-template-columns: 1fr 1fr .4fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px 5px;
  grid-template-areas: "b c a""d e a";
}

.breaking {
  position: relative;
}

.br-image {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 100%;
  object-fit: fit;
  max-height: 100%;
}

.grid-container {
  margin-top: 1.44rem;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px 20px;
  grid-template-areas: "a b c""a d e";
}

.image-news {
  width: 100%;

  img {
    width: 100%;
    max-height: 396px;
    object-fit: cover;
  }
}

footer {
  background-color: $color_valencia_approx;
  color: $white;

  p {
    text-align: center;
    padding: 20px;
  }
}

@media all and(max-width:768px) {
  .heading-div {
    flex-direction: column;
  }

  .nav-menu {
    margin-bottom: 30px;

    a {
      font-size: 18px;
      padding: 5px;
      margin: 0 10px;
    }
  }

  .flex-images {
    flex-direction: column;
  }

  .image {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
  }
}

@media all and(max-width:480px) {
  .container {
    margin-left: 15px;
    margin-right: 15px;
  }

  .nav-menu {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -120px;

    a {
      font-size: 24px;
      margin: 20px;
    }
  }

  .hamburger-menu {
    display: inline;
  }
}

.nimage img {
  max-width: 100%;
}

.right img {
  max-height: 100%;
  max-width: 20rem;
}